@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
:root {
  --body-bg-color: #e4e6f5;
  --border-color: #e5e4e9;
  --theme-bg-color: #fff;
  --body-color: #1b1f31;
  --main-color: #7a7e9d;
  --main-light-color: #a1a4b9;
  --title-color: #979dc3;
  --body-font: 'Jost', sans-serif;
  --button-bg-color: #eaeefc;
  --button-color: #4d76fd;
  --unselected-mail: #f1f2f7;
  --calendar-border-color: #cbcfe0;
  --main-container-bg: #f0f0f7;

  // department colors
  --marketing-color: #b36dfb;
  --design-color: #625be8;
  --development-color: #fec267;
  --management-color: #fc6679;
}

body {
  background-color: var(--body-bg-color);
  padding: 0.5em;
  font-family: var(--body-font);
}

main {
  background-color: var(--theme-bg-color);
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

aside {
  min-width: 360px;
  border-right: 1px solid var(--border-color);

  .app-title {
    text-align: center;
    padding: 1.7em;
    color: var(--title-color);
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
  }
}

.side-wrapper {
  padding: 1.5em 2em;
  border-bottom: 1px solid var(--border-color);
}

.profile {
  text-align: center;

  .profile-picture {
    width: 70px;
    height: 70px;
  }

  .name {
    margin: 0.5em 0;
    font-weight: bold;
  }

  .email {
    color: var(--main-light-color);
    margin-top: 1em;
    margin-bottom: 2em;
  }

  button {
    width: 36px;
    margin: 0 1em;
    background-color: var(--button-bg-color);
    border-radius: 50%;
    border: none;
    padding: 0.6em;
    color: var(--button-color);

    svg {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }

  .columns {
    display: flex;
    justify-content: space-between;

    .amount {
      font-weight: bold;
    }

    .category,
    .item {
      color: var(--main-color);
    }

    .category {
      font-weight: 600;
      font-size: 0.8em;
      margin-top: 1.5em;
      margin-bottom: 0.4em;
      display: block;
    }

    .item {
      font-size: 0.7em;
      font-weight: 500;
      color: var(--main-light-color);
    }
  }

  .ratio {
    display: block;
    text-align: right;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 2.5em;
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 1em;
    background-color: var(--button-bg-color);
    margin-top: 0.5em;
    margin-bottom: 1.5em;

    .amount {
      width: 50%;
      height: 100%;
      border-radius: 1em;
      background-color: var(--button-color);
    }
  }

  .side-wrapper.projects {
    text-align: left;

    ul li {
      margin-top: 1.5em;
      font-size: 0.8em;
      font-weight: 600;
      color: var(--main-color);
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: bottom;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 3px solid;
        margin-right: 1em;
      }

      &:nth-of-type(1):before {
        border-color: var(--marketing-color);
      }

      &:nth-of-type(2):before {
        border-color: var(--design-color);
      }

      &:nth-of-type(3):before {
        border-color: var(--development-color);
      }

      &:nth-of-type(4):before {
        border-color: var(--management-color);
      }
    }
  }

  .side-wrapper.team {
    text-align: left;

    ul {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5em;
    }

    img {
      width: 36px;
      height: 36px;
    }
  }
}

header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 1.5em;
}

.color-picker-wrapper label {
  margin-right: 0.5em;
}

.switch {
  cursor: pointer;
  position: relative;
  width: 220px;
  background-color: var(--unselected-mail);
  padding: 0.5em 2em;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;

  .choice {
    z-index: 1;
    font-weight: 500;
    font-size: 0.8em;
  }

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    ~ .choice:first-of-type {
      color: var(--theme-bg-color);
    }

    ~ .choice:last-of-type {
      color: var(--main-light-color);
    }

    &:checked {
      + .toggle {
        left: 110px;
      }

      ~ .choice:first-of-type {
        color: var(--main-light-color);
      }

      ~ .choice:last-of-type {
        color: var(--theme-bg-color);
      }
    }
  }

  .toggle {
    background-color: var(--button-color);
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: ease 0.3s left;
  }
}
